@import "tailwindcss";

.home-container {
  background-color: #f9f9f9;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 24px;
  margin-top: 24px;
}

.book-show{
  padding: 6% 3%;
}

.sticky { position: sticky; }

.top-0 { top: 0; left: 0; }

.title {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0; /* tùy chỉnh nếu cần */
}